@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*::-webkit-scrollbar {
  display: none;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cls-1 {
  font-family: RocaOne-Rg, RocaOne-Rg;
  font-size: 70px;
}

.ernieloading {
  mask-image: url("/ernie-emask.svg");
  mask-size: cover;
}

.ernieloading::before {
  animation: eloading 2s ease;
  animation-iteration-count: 1;
}

.core__inner-current-page-0 {
}

.rpv-core__inner-page {
  background-color: #44b69c !important;
}

@keyframes eloading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
